extends layout

block content
    h2 Groups for #{username}
    if (groups)
        each group in groups
            li= group
    else
        p No Groups!
    p
        a(href='/groups/create') Create New Group
