extends layout

block content
    if(user)
        a(href="/groups")
            p Groups
        a(href="/inbox")
            p Inbox
        a(href="/userprofile")
            p Profile
    if(!user)
        h1 tresspasser
