doctype html
html
    head
    body
        h1 Titan Connect
            if (!user)
              a(href="/login")
                p Login
            if (user)
              a(href="/logout")
                p Logout
        block content
