<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="client.js"></script>
</head>
<body>
<div class="mdl-grid">
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
	<main class="mdl-layout__content">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h2 class="mdl-card__title-text">Regiser</h2>
			</div>
	  	<div class="mdl-card__supporting-text">
				<form method="post">
				    <div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,0-9]+" id="name" />
						<label class="mdl-textfield__label" for="name">Name</label>
                        <span class="mdl-textfield__error">Only alphanumeric characters and no spaces.</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"id="email" />
						<label class="mdl-textfield__label" for="email">Email</label>
                        <span class="mdl-textfield__error">Enter a valid Email.</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" pattern="\d{3}[\-]\d{3}[\-]\d{4}" id="phone" />
						<label class="mdl-textfield__label" for="phone">Phone</label>
                        <span class="mdl-textfield__error">XXX-XXX-XXXX format only.</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" id="userpass" />
						<label class="mdl-textfield__label" for="userpass">Password</label>
                        <span class="mdl-textfield__error">UpperCase, LowerCase, Number/SpecialChar and min 8 Characters.</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="password" id="cnfuserpass" />
						<label class="mdl-textfield__label" for="cnfuserpass">Confirm Password</label>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", id="submitRegistration">Register</button>
			</div>
            <div class="messageArea">
                <div class="alert-box error">
                    {{error}}
                </div>
                <div class="aler-box success">
                    {{success}}
                </div>
            </div>
		</div>
	</main>
</div>
</body>
</html>
