<html>
    <head>
        <title>TitanConnect | Student Collaboration Made Easy</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">TitanConnect</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="">Register</a>
                        <!-- Class loginHeaderToggle to toggle logout if logged in -->
                        <a class="mdl-navigation__link" id="loginHeaderToggle" href="">Login</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
            <!-- Class login-toggle to toggle logout if logged in -->
            <span class="mdl-layout-title userName"></span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Account</a>
              <a class="mdl-navigation__link" href="">Groups</a>
              <a class="mdl-navigation__link" href="">Inbox</a>
            </nav>
            </div>
            <main class="mdl-layout__content">
            </main>
        </div>
    </body>
</html>
